/* Yleiset tyylit */
body {
    background-color: rgb(32, 49, 35); 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Videotausta otsikolle */
#video-header {
    position: relative;
    height: 70vh; 
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

#video-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(1px) brightness(0.9);
    opacity: 0.95;
}

#video-header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#video-header .header-content h1 {
    color: white;
    font-size: clamp(2rem, 5vw, 4em);
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}

#video-header .header-content .subtitle {
    color: white;
    font-size: clamp(0.8rem, 3vw, 1.5em);
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
}

/* Navigaatio */
.nav {
    background-color: rgb(32, 49, 35);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.7);
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(245, 247, 245);
    font-size: 2em;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    position: relative;
}

.nav a:hover {
    transform: translateY(-5px);
    color: rgb(245, 247, 245);
}
.nav a:hover::after {
    width: 100%;
}
.nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: rgb(245, 247, 245);
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

/* Esittely */
#aboutme {
    text-align: left;
    background: linear-gradient(200deg, #e5e8e6, #c9cec8);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.1s ease;
    
}

#aboutme h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

#aboutme p {
    line-height: 1.6;
    font-size: 1.2em;
}

/* CV */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 20px;
    position: relative;
    width: 50%;
    background: #d7ddd8;
    border-radius: 15px;
    opacity: 0; /* Piilotettu alkuun */
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.container.show {
    opacity: 1; 
    transform: translateY(0);
}

.text-box {
    padding: 20px 30px;
    background: linear-gradient(135deg, #c6c9c7, #7c8b7c);
    border-radius: 15px;
    font-size: 15px;
}

.left-container {
    left: -6%;
    right: auto;
}

.right-container {
    left: 52%;
    right: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

/* Yhteystiedot-osio */
.contact-container {
    display: flex;
    justify-content: space-between;
    background-color: #c9cec8;
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    gap: 20px;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    text-align: center;
}

.contact-info img {
    width: 204px;
    height: 265px;
    margin-bottom: 20px;
    margin-top: 60px;
    box-shadow: 5px 1px 8px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.contact-info p {
    font-size: 1.2em;
    color: #010a07;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact-info p i {
    color: #010c08;
}

.contact-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 80%;
    box-sizing: border-box;
}

.contact-form h2 {
    text-align: center;
    color: #000302;
    margin-bottom: 10px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    resize: none;
    box-sizing: border-box;
}

.contact-form button {
    background: #17382c;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #305548;
}

/* Yhteystiedot pienille ruuduille */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .contact-form {
        width: 100%;
    }
}

/* Aikajana pienille ruuduille */
@media screen and (max-width: 768px) {
    .timeline {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
        left: 0;
        right: 0;
        margin-bottom: 20px;
    }

    .timeline::after {
        content: none;
    }

    .left-container,
    .right-container {
        left: 0;
        right: 0;
    }
}